.clr-1.swatch-4 {
  background: #F07322;
  color: #fef1e9;
  color: #fef1e9; }
  .clr-1.swatch-4.chip::before {
    content: "Orangeo";
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent; }

.clr-1.swatch-1 {
  background: #401e0a;
  color: #fef1e9;
  color: #fef1e9; }
  .clr-1.swatch-1.chip::before {
    content: "" "Orangeo-10"; }

.clr-1.swatch-2 {
  background: #924615;
  color: #fef1e9;
  color: #fef1e9; }
  .clr-1.swatch-2.chip::before {
    content: "" "Orangeo-20"; }

.clr-1.swatch-3 {
  background: #ad5319;
  color: #fef1e9;
  color: #fef1e9; }
  .clr-1.swatch-3.chip::before {
    content: "" "Orangeo-30"; }

.clr-1.swatch-5 {
  background: #f5a470;
  color: #783a11; }
  .clr-1.swatch-5.chip::before {
    content: "" "Orangeo-50"; }

.clr-1.swatch-6 {
  background: #f9c7a8;
  color: #783a11; }
  .clr-1.swatch-6.chip::before {
    content: "" "Orangeo-60"; }

.clr-1.swatch-7 {
  background: #fdebe0;
  color: #783a11; }
  .clr-1.swatch-7.chip::before {
    content: "" "Orangeo-70"; }

.clr-2.swatch-4 {
  background: #F0E9C9;
  color: #fefdfa;
  color: #787565; }
  .clr-2.swatch-4.chip::before {
    content: "Tanly";
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent; }

.clr-2.swatch-1 {
  background: #403e35;
  color: #fefdfa;
  color: #fefdfa; }
  .clr-2.swatch-1.chip::before {
    content: "" "Tanly-10"; }

.clr-2.swatch-2 {
  background: #928e7b;
  color: #fefdfa;
  color: #fefdfa; }
  .clr-2.swatch-2.chip::before {
    content: "" "Tanly-20"; }

.clr-2.swatch-3 {
  background: #ada891;
  color: #fefdfa;
  color: #fefdfa; }
  .clr-2.swatch-3.chip::before {
    content: "" "Tanly-30"; }

.clr-2.swatch-5 {
  background: #f5f1dc;
  color: #787565; }
  .clr-2.swatch-5.chip::before {
    content: "" "Tanly-50"; }

.clr-2.swatch-6 {
  background: #f9f6e9;
  color: #787565; }
  .clr-2.swatch-6.chip::before {
    content: "" "Tanly-60"; }

.clr-2.swatch-7 {
  background: #fdfbf7;
  color: #787565; }
  .clr-2.swatch-7.chip::before {
    content: "" "Tanly-70"; }

.clr-3.swatch-4 {
  background: #FBDC36;
  color: #fffceb;
  color: #7e6e1b; }
  .clr-3.swatch-4.chip::before {
    content: "Yeallo";
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent; }

.clr-3.swatch-1 {
  background: #433b0e;
  color: #fffceb;
  color: #fffceb; }
  .clr-3.swatch-1.chip::before {
    content: "" "Yeallo-10"; }

.clr-3.swatch-2 {
  background: #998621;
  color: #fffceb;
  color: #fffceb; }
  .clr-3.swatch-2.chip::before {
    content: "" "Yeallo-20"; }

.clr-3.swatch-3 {
  background: #b59f27;
  color: #fffceb;
  color: #fffceb; }
  .clr-3.swatch-3.chip::before {
    content: "" "Yeallo-30"; }

.clr-3.swatch-5 {
  background: #fce97d;
  color: #7e6e1b; }
  .clr-3.swatch-5.chip::before {
    content: "" "Yeallo-50"; }

.clr-3.swatch-6 {
  background: #fdf2b0;
  color: #7e6e1b; }
  .clr-3.swatch-6.chip::before {
    content: "" "Yeallo-60"; }

.clr-3.swatch-7 {
  background: #fefae2;
  color: #7e6e1b; }
  .clr-3.swatch-7.chip::before {
    content: "" "Yeallo-70"; }

.clr-4.swatch-4 {
  background: #59BCDE;
  color: #eef8fc;
  color: #eef8fc; }
  .clr-4.swatch-4.chip::before {
    content: "Brue";
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent; }

.clr-4.swatch-1 {
  background: #18323b;
  color: #eef8fc;
  color: #eef8fc; }
  .clr-4.swatch-1.chip::before {
    content: "" "Brue-10"; }

.clr-4.swatch-2 {
  background: #367287;
  color: #eef8fc;
  color: #eef8fc; }
  .clr-4.swatch-2.chip::before {
    content: "" "Brue-20"; }

.clr-4.swatch-3 {
  background: #4188a1;
  color: #eef8fc;
  color: #eef8fc; }
  .clr-4.swatch-3.chip::before {
    content: "" "Brue-30"; }

.clr-4.swatch-5 {
  background: #93d4e9;
  color: #2d5e6f; }
  .clr-4.swatch-5.chip::before {
    content: "" "Brue-50"; }

.clr-4.swatch-6 {
  background: #bde5f2;
  color: #2d5e6f; }
  .clr-4.swatch-6.chip::before {
    content: "" "Brue-60"; }

.clr-4.swatch-7 {
  background: #e7f5fb;
  color: #2d5e6f; }
  .clr-4.swatch-7.chip::before {
    content: "" "Brue-70"; }

.clr-5.swatch-4 {
  background: #EC2327;
  color: #fde9e9;
  color: #fde9e9; }
  .clr-5.swatch-4.chip::before {
    content: "Vibrant";
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent; }

.clr-5.swatch-1 {
  background: #3f0a0a;
  color: #fde9e9;
  color: #fde9e9; }
  .clr-5.swatch-1.chip::before {
    content: "" "Vibrant-10"; }

.clr-5.swatch-2 {
  background: #8f1518;
  color: #fde9e9;
  color: #fde9e9; }
  .clr-5.swatch-2.chip::before {
    content: "" "Vibrant-20"; }

.clr-5.swatch-3 {
  background: #aa1a1d;
  color: #fde9e9;
  color: #fde9e9; }
  .clr-5.swatch-3.chip::before {
    content: "" "Vibrant-30"; }

.clr-5.swatch-5 {
  background: #f27173;
  color: #761214; }
  .clr-5.swatch-5.chip::before {
    content: "" "Vibrant-50"; }

.clr-5.swatch-6 {
  background: #f8a8aa;
  color: #761214; }
  .clr-5.swatch-6.chip::before {
    content: "" "Vibrant-60"; }

.clr-5.swatch-7 {
  background: #fce0e0;
  color: #761214; }
  .clr-5.swatch-7.chip::before {
    content: "" "Vibrant-70"; }

.clr-6.swatch-4 {
  background: #8b9297;
  color: #f4f4f4;
  color: #f4f4f4; }
  .clr-6.swatch-4.chip::before {
    content: "GRAY";
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent; }

.clr-6.swatch-1 {
  background: #0e161b;
  color: #f4f4f4;
  color: #f4f4f4; }
  .clr-6.swatch-1.chip::before {
    content: "" "GRAY-10"; }

.clr-6.swatch-2 {
  background: #4c5459;
  color: #f4f4f4;
  color: #f4f4f4; }
  .clr-6.swatch-2.chip::before {
    content: "" "GRAY-20"; }

.clr-6.swatch-3 {
  background: #61686e;
  color: #f4f4f4;
  color: #f4f4f4; }
  .clr-6.swatch-3.chip::before {
    content: "" "GRAY-30"; }

.clr-6.swatch-5 {
  background: #b1b3b4;
  color: #494949;
  color: #494949; }
  .clr-6.swatch-5.chip::before {
    content: "" "GRAY-50"; }

.clr-6.swatch-6 {
  background: #d1d2d3;
  color: #494949;
  color: #494949; }
  .clr-6.swatch-6.chip::before {
    content: "" "GRAY-60"; }

.clr-6.swatch-7 {
  background: #f2f3f4;
  color: #494949;
  color: #494949; }
  .clr-6.swatch-7.chip::before {
    content: "" "GRAY-70"; }

*, html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  max-width: 1200px; }

.flex {
  display: flex; }

.space-around {
  justify-content: space-around; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-column {
  flex-direction: column; }

.flex-column-reverse {
  flex-direction: column-reverse; }

.color-area {
  flex-direction: column-reverse; }
  @media (min-width: 40em) {
    .color-area {
      flex-direction: column; } }

@media (min-width: 40em) {
  .palette {
    margin: 2vh 2vw; }
    .palette .chip:nth-child(1) {
      margin-top: 0; }
    .palette .chip:last-child {
      margin-bottom: 0; } }

.chip {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 25vw;
  width: 100vw;
  text-transform: uppercase;
  background: #000;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 0.05ex;
  line-height: 1.38; }
  .chip:before {
    white-space: pre;
    font-size: 0.8em;
    font-weight: 800;
    padding: 0.3vh 0.5vh;
    border-radius: 4px; }
  @media (min-width: 40em) {
    .chip {
      height: 180px;
      width: 180px;
      min-height: 100px;
      min-width: 100px;
      max-height: 168px;
      max-width: 168px;
      font-size: 1.3vmax;
      border-radius: 100%;
      margin: -3vh 0 0 0; } }
  @media (min-width: 64em) {
    .chip {
      font-size: 16px; } }

.playground {
  overflow: hidden;
  width: 100vw;
  height: 100vw;
  max-width: 695px;
  max-height: 695px;
  margin: auto; }
  @media (min-width: 40em) {
    .playground {
      transition: height .3s ease, width .3s ease;
      width: 75vw;
      height: 75vw; } }
  .playground .x, .playground .t, .playground .bubs, .playground .o {
    overflow: hidden;
    min-height: 50%;
    width: 50%;
    position: relative; }
    .playground .x > div, .playground .t > div, .playground .bubs > div, .playground .o > div {
      height: 100%;
      width: 100%;
      position: absolute; }
  .playground .x :nth-child(1) {
    top: 0;
    left: -88%;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(2) {
    top: -88%;
    left: 0;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(3) {
    top: 0;
    left: 88%;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(4) {
    top: 88%;
    left: 0;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .t :nth-child(1) {
    position: absolute;
    top: 60%;
    left: 60%;
    z-index: 100; }
  .playground .t :nth-child(2) {
    top: -60%;
    left: -60%;
    z-index: 100; }
  .playground .t :nth-child(3) {
    top: -60%;
    left: 60%;
    z-index: 100; }
  .playground .t :nth-child(4) {
    top: 60%;
    left: -60%;
    z-index: 100; }
  .playground .bubs :nth-child(1) {
    height: 33.33333%;
    width: 33.33333%;
    top: 23%;
    left: 44%;
    z-index: 80;
    border-radius: 100%; }
  .playground .bubs :nth-child(2) {
    height: 29.41176%;
    width: 29.41176%;
    top: 42%;
    right: 22%;
    z-index: 70;
    border-radius: 100%; }
  .playground .bubs :nth-child(3) {
    height: 41.66667%;
    width: 41.66667%;
    position: absolute;
    bottom: 31%;
    left: 47%;
    z-index: 60;
    border-radius: 100%; }
  .playground .bubs :nth-child(4) {
    height: 25%;
    width: 25%;
    bottom: 20%;
    right: 37%;
    z-index: 100;
    border-radius: 100%; }
  .playground .o :nth-child(1) {
    height: 62.5%;
    width: 62.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    border-radius: 100%; }
  .playground .o :nth-child(2) {
    height: 35.71429%;
    width: 35.71429%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 100%; }
  .playground .o :nth-child(3) {
    height: 83.33333%;
    width: 83.33333%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    border-radius: 100%; }
  .playground .o :nth-child(4) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 70;
    border-radius: 100%; }
