.clr-1.swatch-1 {
  background: #edf6f6;
  color: #000000; }
  .clr-1.swatch-1.chip::before {
    content: "" "Teal-10%"; }

.clr-1.swatch-2 {
  background: #cfe7e2;
  color: #000000; }
  .clr-1.swatch-2.chip::before {
    content: "" "Teal-20%"; }

.clr-1.swatch-3 {
  background: #b1d8ce;
  color: #000000; }
  .clr-1.swatch-3.chip::before {
    content: "" "Teal-30%"; }

.clr-1.swatch-4 {
  background: #93c8b9;
  color: #000000; }
  .clr-1.swatch-4.chip::before {
    content: "" "Teal-40%"; }

.clr-1.swatch-5 {
  background: #75B9A5;
  color: #000000; }
  .clr-1.swatch-5.chip::before {
    content: "" "Teal-50%"; }

.clr-1.swatch-6 {
  background: #5b9183;
  color: #ffffff; }
  .clr-1.swatch-6.chip::before {
    content: "" "Teal-60%"; }

.clr-1.swatch-7 {
  background: #406961;
  color: #ffffff; }
  .clr-1.swatch-7.chip::before {
    content: "" "Teal-70%"; }

.clr-1.swatch-8 {
  background: #26423f;
  color: #ffffff; }
  .clr-1.swatch-8.chip::before {
    content: "" "Teal-80%"; }

.clr-1.swatch-9 {
  background: #0c1a1d;
  color: #ffffff; }
  .clr-1.swatch-9.chip::before {
    content: "" "Teal-90%"; }

.clr-2.swatch-1 {
  background: #fcebe2;
  color: #000000; }
  .clr-2.swatch-1.chip::before {
    content: "" "Orange-10%"; }

.clr-2.swatch-2 {
  background: #f8caad;
  color: #000000; }
  .clr-2.swatch-2.chip::before {
    content: "" "Orange-20%"; }

.clr-2.swatch-3 {
  background: #f5a978;
  color: #000000; }
  .clr-2.swatch-3.chip::before {
    content: "" "Orange-30%"; }

.clr-2.swatch-4 {
  background: #f18842;
  color: #000000; }
  .clr-2.swatch-4.chip::before {
    content: "" "Orange-40%"; }

.clr-2.swatch-5 {
  background: #ED670D;
  color: #000000; }
  .clr-2.swatch-5.chip::before {
    content: "" "Orange-50%"; }

.clr-2.swatch-6 {
  background: #bb500a;
  color: #ffffff; }
  .clr-2.swatch-6.chip::before {
    content: "" "Orange-60%"; }

.clr-2.swatch-7 {
  background: #893907;
  color: #ffffff; }
  .clr-2.swatch-7.chip::before {
    content: "" "Orange-70%"; }

.clr-2.swatch-8 {
  background: #562104;
  color: #ffffff; }
  .clr-2.swatch-8.chip::before {
    content: "" "Orange-80%"; }

.clr-2.swatch-9 {
  background: #240a01;
  color: #ffffff; }
  .clr-2.swatch-9.chip::before {
    content: "" "Orange-90%"; }

.clr-3.swatch-1 {
  background: #fef2e5;
  color: #000000; }
  .clr-3.swatch-1.chip::before {
    content: "" "Gold-10%"; }

.clr-3.swatch-2 {
  background: #fee1b7;
  color: #000000; }
  .clr-3.swatch-2.chip::before {
    content: "" "Gold-20%"; }

.clr-3.swatch-3 {
  background: #ffcf89;
  color: #000000; }
  .clr-3.swatch-3.chip::before {
    content: "" "Gold-30%"; }

.clr-3.swatch-4 {
  background: #ffbe5a;
  color: #000000; }
  .clr-3.swatch-4.chip::before {
    content: "" "Gold-40%"; }

.clr-3.swatch-5 {
  background: #FFAC2C;
  color: #000000; }
  .clr-3.swatch-5.chip::before {
    content: "" "Gold-50%"; }

.clr-3.swatch-6 {
  background: #c98522;
  color: #000000; }
  .clr-3.swatch-6.chip::before {
    content: "" "Gold-60%"; }

.clr-3.swatch-7 {
  background: #935f18;
  color: #ffffff; }
  .clr-3.swatch-7.chip::before {
    content: "" "Gold-70%"; }

.clr-3.swatch-8 {
  background: #5c380e;
  color: #ffffff; }
  .clr-3.swatch-8.chip::before {
    content: "" "Gold-80%"; }

.clr-3.swatch-9 {
  background: #261104;
  color: #ffffff; }
  .clr-3.swatch-9.chip::before {
    content: "" "Gold-90%"; }

.clr-4.swatch-1 {
  background: #fef7f1;
  color: #000000; }
  .clr-4.swatch-1.chip::before {
    content: "" "Yellow-10%"; }

.clr-4.swatch-2 {
  background: #fdf2db;
  color: #000000; }
  .clr-4.swatch-2.chip::before {
    content: "" "Yellow-20%"; }

.clr-4.swatch-3 {
  background: #fcecc6;
  color: #000000; }
  .clr-4.swatch-3.chip::before {
    content: "" "Yellow-30%"; }

.clr-4.swatch-4 {
  background: #fbe6b1;
  color: #000000; }
  .clr-4.swatch-4.chip::before {
    content: "" "Yellow-40%"; }

.clr-4.swatch-5 {
  background: #FAE09C;
  color: #000000; }
  .clr-4.swatch-5.chip::before {
    content: "" "Yellow-50%"; }

.clr-4.swatch-6 {
  background: #c5ae79;
  color: #000000; }
  .clr-4.swatch-6.chip::before {
    content: "" "Yellow-60%"; }

.clr-4.swatch-7 {
  background: #907b56;
  color: #ffffff; }
  .clr-4.swatch-7.chip::before {
    content: "" "Yellow-70%"; }

.clr-4.swatch-8 {
  background: #5b4933;
  color: #ffffff; }
  .clr-4.swatch-8.chip::before {
    content: "" "Yellow-80%"; }

.clr-4.swatch-9 {
  background: #261610;
  color: #ffffff; }
  .clr-4.swatch-9.chip::before {
    content: "" "Yellow-90%"; }

.clr-5.swatch-1 {
  background: #e6e8ef;
  color: #000000; }
  .clr-5.swatch-1.chip::before {
    content: "" "Blue-10%"; }

.clr-5.swatch-2 {
  background: #afb5cb;
  color: #000000; }
  .clr-5.swatch-2.chip::before {
    content: "" "Blue-20%"; }

.clr-5.swatch-3 {
  background: #7882a6;
  color: #000000; }
  .clr-5.swatch-3.chip::before {
    content: "" "Blue-30%"; }

.clr-5.swatch-4 {
  background: #404e82;
  color: #ffffff; }
  .clr-5.swatch-4.chip::before {
    content: "" "Blue-40%"; }

.clr-5.swatch-5 {
  background: #091B5E;
  color: #ffffff; }
  .clr-5.swatch-5.chip::before {
    content: "" "Blue-50%"; }

.clr-5.swatch-6 {
  background: #071549;
  color: #ffffff; }
  .clr-5.swatch-6.chip::before {
    content: "" "Blue-60%"; }

.clr-5.swatch-7 {
  background: #050f34;
  color: #ffffff; }
  .clr-5.swatch-7.chip::before {
    content: "" "Blue-70%"; }

.clr-5.swatch-8 {
  background: #03091f;
  color: #ffffff; }
  .clr-5.swatch-8.chip::before {
    content: "" "Blue-80%"; }

.clr-5.swatch-9 {
  background: #010309;
  color: #ffffff; }
  .clr-5.swatch-9.chip::before {
    content: "" "Blue-90%"; }

.clr-6.swatch-1 {
  background: #eef0f2;
  color: #000000; }
  .clr-6.swatch-1.chip::before {
    content: "" "GRAY-10%"; }

.clr-6.swatch-2 {
  background: #d2d4d5;
  color: #000000; }
  .clr-6.swatch-2.chip::before {
    content: "" "GRAY-20%"; }

.clr-6.swatch-3 {
  background: #b6b8b9;
  color: #000000; }
  .clr-6.swatch-3.chip::before {
    content: "" "GRAY-30%"; }

.clr-6.swatch-4 {
  background: #9b9b9c;
  color: #000000; }
  .clr-6.swatch-4.chip::before {
    content: "" "GRAY-40%"; }

.clr-6.swatch-5 {
  background: #7f7f7f;
  color: #ffffff; }
  .clr-6.swatch-5.chip::before {
    content: "" "GRAY-50%"; }

.clr-6.swatch-6 {
  background: #626466;
  color: #ffffff; }
  .clr-6.swatch-6.chip::before {
    content: "" "GRAY-60%"; }

.clr-6.swatch-7 {
  background: #46494c;
  color: #ffffff; }
  .clr-6.swatch-7.chip::before {
    content: "" "GRAY-70%"; }

.clr-6.swatch-8 {
  background: #292f33;
  color: #ffffff; }
  .clr-6.swatch-8.chip::before {
    content: "" "GRAY-80%"; }

.clr-6.swatch-9 {
  background: #0d1419;
  color: #ffffff; }
  .clr-6.swatch-9.chip::before {
    content: "" "GRAY-90%"; }

*, html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  max-width: 1200px; }

.flex {
  display: flex; }

.space-around {
  justify-content: space-around; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-column {
  flex-direction: column; }

.flex-column-reverse {
  flex-direction: column-reverse; }

.color-area {
  flex-direction: column-reverse; }
  @media (min-width: 40em) {
    .color-area {
      flex-direction: column; } }

@media (min-width: 40em) {
  .palette {
    margin: 2vh 2vw; }
    .palette .chip:nth-child(1) {
      margin-top: 0; }
    .palette .chip:last-child {
      margin-bottom: 0; } }

.chip {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.05ex;
  line-height: 1.38;
  height: 25vw;
  width: 100vw;
  background: #000;
  font-size: 5vw; }
  .chip:before {
    white-space: pre;
    font-size: 0.8em;
    font-weight: 800;
    padding: 0.3vh 0.5vh;
    border-radius: 4px; }
  @media (min-width: 40em) {
    .chip {
      min-height: 100px;
      min-width: 100px;
      height: auto;
      width: 180px;
      max-height: 168px;
      max-width: 168px;
      font-size: 1.3vmax; } }
  @media (min-width: 64em) {
    .chip {
      font-size: 16px; } }

.playground {
  overflow: hidden;
  width: 100vw;
  height: 100vw;
  max-width: 695px;
  max-height: 695px;
  margin: auto; }
  @media (min-width: 40em) {
    .playground {
      transition: height .3s ease, width .3s ease;
      width: 75vw;
      height: 75vw; } }
  .playground .x, .playground .t, .playground .bubs, .playground .o {
    overflow: hidden;
    min-height: 50%;
    width: 50%;
    position: relative; }
    .playground .x > div, .playground .t > div, .playground .bubs > div, .playground .o > div {
      height: 100%;
      width: 100%;
      position: absolute; }
  .playground .x :nth-child(1) {
    top: 0;
    left: -88%;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(2) {
    top: -88%;
    left: 0;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(3) {
    top: 0;
    left: 88%;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(4) {
    top: 88%;
    left: 0;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .t :nth-child(1) {
    position: absolute;
    top: 60%;
    left: 60%;
    z-index: 100; }
  .playground .t :nth-child(2) {
    top: -60%;
    left: -60%;
    z-index: 100; }
  .playground .t :nth-child(3) {
    top: -60%;
    left: 60%;
    z-index: 100; }
  .playground .t :nth-child(4) {
    top: 60%;
    left: -60%;
    z-index: 100; }
  .playground .bubs :nth-child(1) {
    height: 33.33333%;
    width: 33.33333%;
    top: 18%;
    left: 42%;
    z-index: 80;
    border-radius: 100%; }
  .playground .bubs :nth-child(2) {
    height: 29.41176%;
    width: 29.41176%;
    top: 29%;
    right: 50%;
    z-index: 70;
    border-radius: 100%; }
  .playground .bubs :nth-child(3) {
    height: 41.66667%;
    width: 41.66667%;
    position: absolute;
    bottom: 7%;
    left: 43%;
    z-index: 60;
    border-radius: 100%; }
  .playground .bubs :nth-child(4) {
    height: 25%;
    width: 25%;
    bottom: 5%;
    right: 44%;
    z-index: 100;
    border-radius: 100%; }
  .playground .o :nth-child(1) {
    height: 62.5%;
    width: 62.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    border-radius: 100%; }
  .playground .o :nth-child(2) {
    height: 35.71429%;
    width: 35.71429%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 100%; }
  .playground .o :nth-child(3) {
    height: 83.33333%;
    width: 83.33333%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    border-radius: 100%; }
  .playground .o :nth-child(4) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 70;
    border-radius: 100%; }
