.clr-1.swatch-1 {
  background: #e4f8fe;
  color: #000000; }
  .clr-1.swatch-1.chip::before {
    content: "" "Blue-9%"; }

.clr-1.swatch-2 {
  background: #cfe7e2;
  background: #b7edfc;
  color: #000000; }
  .clr-1.swatch-2.chip::before {
    content: "" "Blue-18%"; }

.clr-1.swatch-3 {
  background: #89e2fa;
  color: #000000; }
  .clr-1.swatch-3.chip::before {
    content: "" "Blue-27%"; }

.clr-1.swatch-4 {
  background: #5cd8f7;
  color: #000000; }
  .clr-1.swatch-4.chip::before {
    content: "" "Blue-36%"; }

.clr-1.swatch-5 {
  background: #2ecdf5;
  color: #000000; }
  .clr-1.swatch-5.chip::before {
    content: "" "Blue-45%"; }

.clr-1.swatch-6 {
  background: #01C2F3;
  color: #000000; }
  .clr-1.swatch-6.chip::before {
    content: "" "Blue-50%"; }

.clr-1.swatch-7 {
  background: #01a5cf;
  color: #ffffff; }
  .clr-1.swatch-7.chip::before {
    content: "" "Blue-64%"; }

.clr-1.swatch-8 {
  background: #0187ac;
  color: #ffffff; }
  .clr-1.swatch-8.chip::before {
    content: "" "Blue-73%"; }

.clr-1.swatch-9 {
  background: #016a88;
  color: #ffffff; }
  .clr-1.swatch-9.chip::before {
    content: "" "Blue-82%"; }

.clr-1.swatch-10 {
  background: #004d64;
  color: #ffffff; }
  .clr-1.swatch-10.chip::before {
    content: "" "Blue-91%"; }

.clr-1.swatch-11 {
  background: #003041;
  color: #ffffff; }
  .clr-1.swatch-11.chip::before {
    content: "" "Blue-100%"; }

.clr-2.swatch-1 {
  background: #feefec;
  color: #000000; }
  .clr-2.swatch-1.chip::before {
    content: "" "Orange-9%"; }

.clr-2.swatch-2 {
  background: #fbd1c9;
  color: #000000; }
  .clr-2.swatch-2.chip::before {
    content: "" "Orange-18%"; }

.clr-2.swatch-3 {
  background: #f9b3a6;
  color: #000000; }
  .clr-2.swatch-3.chip::before {
    content: "" "Orange-27%"; }

.clr-2.swatch-4 {
  background: #f69583;
  color: #000000; }
  .clr-2.swatch-4.chip::before {
    content: "" "Orange-36%"; }

.clr-2.swatch-5 {
  background: #f4775f;
  color: #000000; }
  .clr-2.swatch-5.chip::before {
    content: "" "Orange-45%"; }

.clr-2.swatch-6 {
  background: #F1593C;
  color: #000000; }
  .clr-2.swatch-6.chip::before {
    content: "" "Orange-50%"; }

.clr-2.swatch-7 {
  background: #cf4e34;
  color: #ffffff; }
  .clr-2.swatch-7.chip::before {
    content: "" "Orange-64%"; }

.clr-2.swatch-8 {
  background: #ad422c;
  color: #ffffff; }
  .clr-2.swatch-8.chip::before {
    content: "" "Orange-73%"; }

.clr-2.swatch-9 {
  background: #8b3724;
  color: #ffffff; }
  .clr-2.swatch-9.chip::before {
    content: "" "Orange-82%"; }

.clr-2.swatch-10 {
  background: #6a2b1c;
  color: #ffffff; }
  .clr-2.swatch-10.chip::before {
    content: "" "Orange-91%"; }

.clr-2.swatch-11 {
  background: #482014;
  color: #ffffff; }
  .clr-2.swatch-11.chip::before {
    content: "" "Orange-100%"; }

.clr-3.swatch-1 {
  background: #fffaec;
  color: #000000; }
  .clr-3.swatch-1.chip::before {
    content: "" "Yellow-9%"; }

.clr-3.swatch-2 {
  background: #fef4c7;
  color: #000000; }
  .clr-3.swatch-2.chip::before {
    content: "" "Yellow-18%"; }

.clr-3.swatch-3 {
  background: #fdeea3;
  color: #000000; }
  .clr-3.swatch-3.chip::before {
    content: "" "Yellow-27%"; }

.clr-3.swatch-4 {
  background: #fce87f;
  color: #000000; }
  .clr-3.swatch-4.chip::before {
    content: "" "Yellow-36%"; }

.clr-3.swatch-5 {
  background: #fce25a;
  color: #000000; }
  .clr-3.swatch-5.chip::before {
    content: "" "Yellow-45%"; }

.clr-3.swatch-6 {
  background: #FBDC36;
  color: #000000; }
  .clr-3.swatch-6.chip::before {
    content: "" "Yellow-50%"; }

.clr-3.swatch-7 {
  background: #d9bc2f;
  color: #000000; }
  .clr-3.swatch-7.chip::before {
    content: "" "Yellow-64%"; }

.clr-3.swatch-8 {
  background: #b79c29;
  color: #000000; }
  .clr-3.swatch-8.chip::before {
    content: "" "Yellow-73%"; }

.clr-3.swatch-9 {
  background: #957b22;
  color: #ffffff; }
  .clr-3.swatch-9.chip::before {
    content: "" "Yellow-82%"; }

.clr-3.swatch-10 {
  background: #735b1c;
  color: #ffffff; }
  .clr-3.swatch-10.chip::before {
    content: "" "Yellow-91%"; }

.clr-3.swatch-11 {
  background: #513b15;
  color: #ffffff; }
  .clr-3.swatch-11.chip::before {
    content: "" "Yellow-100%"; }

.clr-4.swatch-1 {
  background: #fefbf9;
  color: #000000; }
  .clr-4.swatch-1.chip::before {
    content: "" "Tan-9%"; }

.clr-4.swatch-2 {
  background: #fcf8f1;
  color: #000000; }
  .clr-4.swatch-2.chip::before {
    content: "" "Tan-18%"; }

.clr-4.swatch-3 {
  background: #f9f4ea;
  color: #000000; }
  .clr-4.swatch-3.chip::before {
    content: "" "Tan-27%"; }

.clr-4.swatch-4 {
  background: #f7f1e2;
  color: #000000; }
  .clr-4.swatch-4.chip::before {
    content: "" "Tan-36%"; }

.clr-4.swatch-5 {
  background: #f4edda;
  color: #000000; }
  .clr-4.swatch-5.chip::before {
    content: "" "Tan-45%"; }

.clr-4.swatch-6 {
  background: #F2EAD2;
  color: #000000; }
  .clr-4.swatch-6.chip::before {
    content: "" "Tan-50%"; }

.clr-4.swatch-7 {
  background: #ccc5b0;
  color: #000000; }
  .clr-4.swatch-7.chip::before {
    content: "" "Tan-64%"; }

.clr-4.swatch-8 {
  background: #a69f8e;
  color: #000000; }
  .clr-4.swatch-8.chip::before {
    content: "" "Tan-73%"; }

.clr-4.swatch-9 {
  background: #807a6c;
  color: #ffffff; }
  .clr-4.swatch-9.chip::before {
    content: "" "Tan-82%"; }

.clr-4.swatch-10 {
  background: #59544b;
  color: #ffffff; }
  .clr-4.swatch-10.chip::before {
    content: "" "Tan-91%"; }

.clr-4.swatch-11 {
  background: #332f29;
  color: #ffffff; }
  .clr-4.swatch-11.chip::before {
    content: "" "Tan-100%"; }

.clr-5.swatch-1 {
  background: #fde9ee;
  color: #000000; }
  .clr-5.swatch-1.chip::before {
    content: "" "Pink-9%"; }

.clr-5.swatch-2 {
  background: #fac0d0;
  color: #000000; }
  .clr-5.swatch-2.chip::before {
    content: "" "Pink-18%"; }

.clr-5.swatch-3 {
  background: #f696b1;
  color: #000000; }
  .clr-5.swatch-3.chip::before {
    content: "" "Pink-27%"; }

.clr-5.swatch-4 {
  background: #f36d92;
  color: #000000; }
  .clr-5.swatch-4.chip::before {
    content: "" "Pink-36%"; }

.clr-5.swatch-5 {
  background: #ef4374;
  color: #ffffff; }
  .clr-5.swatch-5.chip::before {
    content: "" "Pink-45%"; }

.clr-5.swatch-6 {
  background: #EC1A55;
  color: #ffffff; }
  .clr-5.swatch-6.chip::before {
    content: "" "Pink-50%"; }

.clr-5.swatch-7 {
  background: #cc1a49;
  color: #ffffff; }
  .clr-5.swatch-7.chip::before {
    content: "" "Pink-64%"; }

.clr-5.swatch-8 {
  background: #ad193e;
  color: #ffffff; }
  .clr-5.swatch-8.chip::before {
    content: "" "Pink-73%"; }

.clr-5.swatch-9 {
  background: #8d1932;
  color: #ffffff; }
  .clr-5.swatch-9.chip::before {
    content: "" "Pink-82%"; }

.clr-5.swatch-10 {
  background: #6e1827;
  color: #ffffff; }
  .clr-5.swatch-10.chip::before {
    content: "" "Pink-91%"; }

.clr-5.swatch-11 {
  background: #4e181b;
  color: #ffffff; }
  .clr-5.swatch-11.chip::before {
    content: "" "Pink-100%"; }

.clr-6.swatch-1 {
  background: #eff2f4;
  color: #000000; }
  .clr-6.swatch-1.chip::before {
    content: "" "GRAY-9%"; }

.clr-6.swatch-2 {
  background: #d9dbdd;
  color: #000000; }
  .clr-6.swatch-2.chip::before {
    content: "" "GRAY-18%"; }

.clr-6.swatch-3 {
  background: #c2c4c5;
  color: #000000; }
  .clr-6.swatch-3.chip::before {
    content: "" "GRAY-27%"; }

.clr-6.swatch-4 {
  background: #acadae;
  color: #000000; }
  .clr-6.swatch-4.chip::before {
    content: "" "GRAY-36%"; }

.clr-6.swatch-5 {
  background: #959696;
  color: #000000; }
  .clr-6.swatch-5.chip::before {
    content: "" "GRAY-45%"; }

.clr-6.swatch-6 {
  background: #7f7f7f;
  color: #ffffff; }
  .clr-6.swatch-6.chip::before {
    content: "" "GRAY-50%"; }

.clr-6.swatch-7 {
  background: #6a6b6c;
  color: #ffffff; }
  .clr-6.swatch-7.chip::before {
    content: "" "GRAY-64%"; }

.clr-6.swatch-8 {
  background: #55585a;
  color: #ffffff; }
  .clr-6.swatch-8.chip::before {
    content: "" "GRAY-73%"; }

.clr-6.swatch-9 {
  background: #414447;
  color: #ffffff; }
  .clr-6.swatch-9.chip::before {
    content: "" "GRAY-82%"; }

.clr-6.swatch-10 {
  background: #2c3034;
  color: #ffffff; }
  .clr-6.swatch-10.chip::before {
    content: "" "GRAY-91%"; }

.clr-6.swatch-11 {
  background: #171d22;
  color: #ffffff; }
  .clr-6.swatch-11.chip::before {
    content: "" "GRAY-100%"; }

*, html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  max-width: 1200px; }

.flex {
  display: flex; }

.space-around {
  justify-content: space-around; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-column {
  flex-direction: column; }

.flex-column-reverse {
  flex-direction: column-reverse; }

.color-area {
  flex-direction: column-reverse; }
  @media (min-width: 40em) {
    .color-area {
      flex-direction: column; } }

@media (min-width: 40em) {
  .palette {
    margin: 2vh 2vw; }
    .palette .chip:nth-child(1) {
      margin-top: 0; }
    .palette .chip:last-child {
      margin-bottom: 0; } }

.chip {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.05ex;
  line-height: 1.38;
  height: 25vw;
  width: 100vw;
  background: #000;
  font-size: 5vw; }
  .chip:before {
    white-space: pre;
    font-size: 0.8em;
    font-weight: 800;
    padding: 0.3vh 0.5vh;
    border-radius: 4px; }
  @media (min-width: 40em) {
    .chip {
      min-height: 100px;
      min-width: 100px;
      height: auto;
      width: 180px;
      max-height: 168px;
      max-width: 168px;
      font-size: 1.3vmax; } }
  @media (min-width: 64em) {
    .chip {
      font-size: 16px; } }

.playground {
  overflow: hidden;
  width: 100vw;
  height: 100vw;
  max-width: 695px;
  max-height: 695px;
  margin: auto; }
  @media (min-width: 40em) {
    .playground {
      transition: height .3s ease, width .3s ease;
      width: 75vw;
      height: 75vw; } }
  .playground .x, .playground .t, .playground .bubs, .playground .o {
    overflow: hidden;
    min-height: 50%;
    width: 50%;
    position: relative; }
    .playground .x > div, .playground .t > div, .playground .bubs > div, .playground .o > div {
      height: 100%;
      width: 100%;
      position: absolute; }
  .playground .x :nth-child(1) {
    top: 0;
    left: -88%;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(2) {
    top: -88%;
    left: 0;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(3) {
    top: 0;
    left: 88%;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .x :nth-child(4) {
    top: 88%;
    left: 0;
    z-index: 100;
    transform: rotate(45deg); }
  .playground .t :nth-child(1) {
    position: absolute;
    top: 60%;
    left: 60%;
    z-index: 100; }
  .playground .t :nth-child(2) {
    top: -60%;
    left: -60%;
    z-index: 100; }
  .playground .t :nth-child(3) {
    top: -60%;
    left: 60%;
    z-index: 100; }
  .playground .t :nth-child(4) {
    top: 60%;
    left: -60%;
    z-index: 100; }
  .playground .bubs :nth-child(1) {
    height: 33.33333%;
    width: 33.33333%;
    z-index: 80;
    border-radius: 100%; }
  .playground .bubs :nth-child(2) {
    height: 29.41176%;
    width: 29.41176%;
    z-index: 70;
    border-radius: 100%; }
  .playground .bubs :nth-child(3) {
    height: 41.66667%;
    width: 41.66667%;
    position: absolute;
    z-index: 60;
    border-radius: 100%; }
  .playground .bubs :nth-child(4) {
    height: 25%;
    width: 25%;
    z-index: 100;
    border-radius: 100%; }
  .playground .o :nth-child(1) {
    height: 62.5%;
    width: 62.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    border-radius: 100%; }
  .playground .o :nth-child(2) {
    height: 35.71429%;
    width: 35.71429%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 100%; }
  .playground .o :nth-child(3) {
    height: 83.33333%;
    width: 83.33333%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    border-radius: 100%; }
  .playground .o :nth-child(4) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 70;
    border-radius: 100%; }
